<html>
    <head>
        <title>Blog Django Girls da Fabianna</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django Girls da Fabianna</a></h1>
        </div>

       {% for post in posts %}
    <div>
        <p>publicado em: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
		{% endfor %}

        <div>
            <p>publicado: 03 de novembro de 2018, às 16h42 </p>
            <h2><a href="">Meu primeiro post TCHANÃAAAA :D </a></h2>
            <p>Alô alô, marciaaaaano! Aqui quem fala é da TÉ RRAAAAAA.</p>
        </div>

        <div>
            <p>publicado: 03 de novembro de 2018, às 16h42</p>
            <h2><a href="">Meu segundo post BORA LÁ</a></h2>
            <p>Pra variar estamos em guerra, você não imagina a loucura!
            
        </div>
    </body>
</html>.